<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PS4OfflineAccountActivator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PS4OfflineAccountActivator.Properties.Settings>
            <setting name="CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="PX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PY" serializeAs="String">
                <value>0</value>
            </setting>
        </PS4OfflineAccountActivator.Properties.Settings>
    </userSettings>
</configuration>